MVC/Connected Services/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServicoWCF/Servico/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoWCF" />
  <xs:element name="inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicoWCF" minOccurs="0" name="sala" nillable="true" type="q1:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inserirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicoWCF" minOccurs="0" name="ListarResult" nillable="true" type="q2:ArrayOfSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicoWCF" minOccurs="0" name="getByIdResult" nillable="true" type="q3:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicoWCF" minOccurs="0" name="sala" nillable="true" type="q4:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="excluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="excluirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>