MVC/Connected Services/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sala">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Projetor" type="xs:boolean" />
      <xs:element minOccurs="0" name="SistemaOperacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Software1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Software2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Software3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qtdAlunos" type="xs:int" />
      <xs:element minOccurs="0" name="qtdComputadores" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sala" nillable="true" type="tns:Sala" />
  <xs:complexType name="ArrayOfSala">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sala" nillable="true" type="tns:Sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSala" nillable="true" type="tns:ArrayOfSala" />
</xs:schema>